@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1><a href="/MapInterNet">地图-使用网络Api</a></h1>
    <h1><a href="/MapLocal">地图-使用本地Api</a></h1>
    <h1><a href="/MapInterNet_Widget">地图-使用网络地图——小部件</a></h1>
    <h1><a href="/MapInterNet_FeatureLayer">地图-使用网络地图——属性图层</a></h1>
</div>
